@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}


body {
  margin: 0;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #242424;
  background-color: #f2f2f2;
}

.visually-hidden {
  display: none;
}

.container {
  width: 1200px;
  margin: 0 auto;
  background-color: #ffffff;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.header {
  background-color: #ffffff;
  position: relative;
  padding: 0 68px 0 238px;
}

.logo-link {
  position: absolute;
  top: 0;
  left: 70px;
}

.logo-image {}

.navigation {
  display: flex;
  justify-content: space-between;
}

.main-menu {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  width: 500px;
  flex-wrap: wrap;
}

.menu-item {}

.menu-link {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  color: #000000;
  text-decoration: none;
  display: block;
  padding: 20px 16px;

}

.menu-item:nth-child(1) {
  /* background-color: red; */
}

.menu-item:nth-child(2) {
  /* background-color: blue; */
}

.menu-item:nth-child(3) {
  /* background-color: red; */
}

.user-menu {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
}

.welcome {
  background-color: #aec5d1;
  background-image: url("../images/white-crown.svg"), url("../images/index-background.jpg");
  background-repeat: no-repeat;
  background-position: center bottom, center top;
  background-size: 1200px 57px, cover;
  padding-top: 51px;
  padding-bottom: 82px;
  min-height: 352px;
}

.welcome-image {
  display: block;
  margin: 0 auto;
}

.city {
  text-align: center;
  padding-top: 70px;
}

.city-title {
  padding: 0;
  margin: 0 auto 24px;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  width: 750px;

}

.city-subtitle {
  padding: 0;
  margin: 0 auto 90px;
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  width: 750px;
}

.reason-list {
  display: flex;
  justify-content: space-between;
  text-align: center;
  padding: 0;
  margin: 0;
  list-style: none;
  flex-wrap: wrap;
}

.reason-item {
  display: flex;
  background-color: bisque;
}

.reason-container {
  width: 400px;
  padding-top: 103px;
  padding-bottom: 102px;
}

.reason-title {
  margin: 0 auto 61px;
  padding: 0;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  width: 175px;
  text-transform: uppercase;

}

.reason-text {
  padding: 0;
  margin: 0 auto;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  width: 231px;
}

.reason-item:nth-child(2n) {
  background-color: #f0f6fa;
}
.reason-item:nth-child(3n) {
  background-color: #e6f0f6;
}
.reason-item-special .reason-container {
  background-color: #82B3D3;
  border-radius: 0px 4px 4px 0px;
  color: #FFFFFF;

}

.comfort-list {
  display: flex;
  justify-content: space-between;
  text-align: center;
  padding: 0;
  margin: 0;
  list-style: none;
}

.comfort-item {
  width: 400px;
}

.interest {
  text-align: center;
  margin: 54px auto;
  height: 214px;
  width: 592px;
}

.desription {
  padding: 0;
  margin: 0;
}

.footer-container {
  display: flex;
  margin: 0 auto;
}


.news-letter {
  background-image: url("../images/subscribe.jpg");
  background-repeat: no-repeat;
  min-height: 414px;
  text-align: center;

  /*width: 684px;*/
}

.city-welcome {
  padding: 0;
    margin: 0 auto 24px;
    font-size: 30px;
    font-weight: 700;
    line-height: 36px;
    text-transform: uppercase;
    width: 750px;
}
